ion-view(view-title="Search")
	ion-content
		ion-refresher(on-refresh="refresh()")

		.user-cards
			.user-card(ng-repeat="user in model.users track by $index")
				.user-card__header
					.user-card__approved-status(
						ng-if="user.is_approved_by_hackpack"
						n-tooltip="{{ 'COMMON.APPROVED_BY_HACKPACK' | translate }}"
						n-tooltip-placement="right"
					)
					a.user-card__avatar(ui-sref="root.tabs.searchProfile({userId: {{ user.id }}})")
						user-avatar(data="user")
					a.user-card__name.t-link(
						ui-sref="root.tabs.searchProfile({userId: {{ user.id }}})"
						ng-bind="user.full_name"
					)
					span.user-card__availability.hp_10(
						ng-if="!RC('Expert', user.role)"
						ng-class="{ true: 't-text_success', false: 't-text_error' }[user.is_available]"
						ng-bind="(user.is_available ? 'COMMON.OPEN_TO_GIGS' : 'COMMON.BOOKED') | translate"
					)
					.user-card__location(ng-bind="user | location")

		ion-infinite-scroll(
			ng-if="model.nextPageUrl || !model.users"
			on-infinite="loadMore()"
			distance="10%"
		)
