.config__step(ng-class="{ 'config__step_checked': model.form.email && model.form.password }")
	.config__step__check.sl-icon.sl-icon-check-2
	.config__step__title(ng-bind="'CONFIG.STEPS.EMAIL_PASSWORD.TITLE' | translate")
	input.binput.input_40.t-validate-highlight(
		type="email"
		ng-model="model.form.email"
		placeholder="Email"
		required
	)
	.vp_10
	input.binput.input_40.t-validate-highlight(
		type="password"
		ng-model="model.form.password"
		placeholder="{{ 'CONFIG.STEPS.EMAIL_PASSWORD.INPUT_PASSWORD_PLACEHOLDER' | translate }}"
		ng-minlength="8"
		required
	)
